body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerBg {
  background: linear-gradient(45deg, #68fffd 14%, #f264f6 99%);
}

.bookCard:hover {
  position: relative;
  left: -1em;
  top: -1em;
  box-shadow: 12px 18px 8px 0px #68fffd;
  cursor: pointer;
}

.btn-back:hover,
.btn-back:focus {
  border: 1px solid #f264f6
}

.btn-load {
  border: 0 !important;
  background: linear-gradient(45deg, #f264f6  14%, #68fffd  99%);
  color: white !important;
}

.btn-load:hover,
.btn-load:focus,
.btn-load:visited{
  border: 0 !important;
  background: linear-gradient(45deg, #ea00ff 14%, #06d5d9 99%);
  color: white !important;
}

.form-control:focus,
.form-control:active {
  box-shadow: 0px 0px 6px 1px #ea00ff inset !important;
}

.form-select:focus,
.form-select:active {
  box-shadow: 0px 0px 6px 1px #ea00ff inset !important;
}